{% extends "base.html" %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <tr>
                <td>Vendor{{ Receipt.vendor }}</td>
                <td>Total {{ Receipt.total }}</td>
                <td>Tax{{ Receipt.tax }}</td>
                <td>Date{{ Receipt.date }}</td>
                <td>Category{{ Receipt.category }}</td>
                <td>Account{{ Receipt.account }}</td>
            </tr>
        </table>
    </main>
{% endblock content %}
